<div class="header">
  <p>Wikitoms</p>
</div>
<%= link_to 'New Article', article_path('new') %>
<div class="articles">
  <% @articles.each do |article| %>
    <div class="article">
      <p class="title"><%= link_to article.title, article_path(article) %></p>
      <p class="content"><%= article.content.chars.take(270).join %></p>
    </div>
  <% end %>
</div>

